.js-modal {
  /* Take the box out of the flow, so that it could look like a modal box */
  position: absolute;

  /* Avoid the awkwardly stretchy box on bigger screens */
  max-width: 450px;

  /* Aligning it to the absolute center of the page */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Some cosmetics */
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .1);
}

.js-modal-hidden {
  display: none;
}

/* Make the media inside the box adapt the width of the parent */
.js-modal img,
.js-modal iframe,
.js-modal video {
  max-width: 100%;
}

/* Make the inner element relatively-positioned to contain the close button */
.js-modal-inner {
  position: relative;
  padding: 10px;
}

/* Close button */
.js-modal-close {
  font-size: 10px;

  /* Take it out of the flow, and align to the top-left corner */
  position: absolute;
  top: -10px;
  right: -10px;

  /* Size it up */
  width: 24px;
  height: 24px;

  /* Text-alignment */
  text-align: center;

  /* Cosmetics */
  color: #eee;
  border-width: 0;
  border-radius: 100%;
  background-color: black;
}
