body {
    color:#6200EE;
    font-family: 'Roboto', sans-serif;
}

#main-div {
    position: absolute;
    left: 25%;
}

.container {
    position: absolute;
    border-radius: 3px;
    /* left: 25%; */
    z-index: 999999;
    height: 700px;
    width: 500px;
    margin-bottom: 100px;
}

.header {
    height: 150px;
    background-color: #6200ee;
    color: white;
    /* position: absolute; */
}

/* styling for hour, colon and minutes */
.header span {
    font-size: 80px;
    position: absolute;
}

/* styling for am/pm */
.header div {
    position: absolute;
    left: 366px;
    font-size: 20px;
}

#hour {
    left: 160px;
    top: 25px;
}

#colon {
    left: 248px;
    top: 25px;
}

#minute {
    left: 270px;
    top: 25px;
    color: #9e47ff;
}


#morn_text {
    top: 46px;
    color: #9e47ff;
}

#aft_text {
    top: 76px;
}

.m_body {
    height: 500px;
    border: 1px solid grey;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option_box {
    height: 50px;
    border: 1px solid grey;
    border-top: none;
}

.options {
    font-size: 42px;
    position: relative;
}

.ok_text {
    position: absolute;
    left: 84%;
    font-weight: 600;
}

.cancel_text {
    position: absolute;
    left: 60%;
    font-weight: 600;
}

/* CLOCK */
#hour_clock_circle {
    height: 380px;
    width: 380px;
    border-radius: 50%;
    background-color: #eeeeee;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#min_clock_circle {
    height: 380px;
    width: 380px;
    border-radius: 50%;
    background-color: #eeeeee;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.pivot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
}

.hour_clock_number, .min_clock_number {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 45%;
    top: 53.5%;
    color: black;
    font-size: 25px;
}

.hour_clock_number_clicked {
    background-color: yellow;
    position: absolute;
    left: 45%;
    top: 53.5%;
    border-radius: 50%;
}

.hour_clock_number:nth-child(1) {
    transform: rotate(-60deg) translate(160px) rotate(60deg)
}
.hour_clock_number:nth-child(2) {
    transform: rotate(-30deg) translate(160px) rotate(30deg)
}
.hour_clock_number:nth-child(3) {
    transform: rotate(0deg) translate(160px)
}
.hour_clock_number:nth-child(4) {
    transform: rotate(30deg) translate(160px) rotate(-30deg)
}
.hour_clock_number:nth-child(5) {
    transform: rotate(60deg) translate(160px) rotate(-60deg)
}
.hour_clock_number:nth-child(6) {
    transform: rotate(90deg) translate(160px) rotate(-90deg)
}
.hour_clock_number:nth-child(7) {
    transform: rotate(120deg) translate(160px) rotate(-120deg)
}
.hour_clock_number:nth-child(8) {
    transform: rotate(150deg) translate(160px) rotate(-150deg)
}
.hour_clock_number:nth-child(9) {
    transform: rotate(180deg) translate(160px) rotate(-180deg)
}
.hour_clock_number:nth-child(10) {
    transform: rotate(210deg) translate(160px) rotate(-210deg)
}
.hour_clock_number:nth-child(11) {
    transform: rotate(240deg) translate(160px) rotate(-240deg)
}
.hour_clock_number:nth-child(12) {
    transform: rotate(270deg) translate(160px) rotate(-270deg)
}

.hour_line {
    stroke:black;
    stroke-linecap:round;
    stroke-width: 3px;
}


.min_clock_number:nth-child(5) {
    transform: rotate(-60deg) translate(160px) rotate(60deg)
}
.min_clock_number:nth-child(10) {
    transform: rotate(-30deg) translate(160px) rotate(30deg)
}
.min_clock_number:nth-child(15) {
    transform: rotate(0deg) translate(160px)
}
.min_clock_number:nth-child(20) {
    transform: rotate(30deg) translate(160px) rotate(-30deg)
}
.min_clock_number:nth-child(25) {
    transform: rotate(60deg) translate(160px) rotate(-60deg)
}
.min_clock_number:nth-child(30) {
    transform: rotate(90deg) translate(160px) rotate(-90deg)
}
.min_clock_number:nth-child(35) {
    transform: rotate(120deg) translate(160px) rotate(-120deg)
}
.min_clock_number:nth-child(40) {
    transform: rotate(150deg) translate(160px) rotate(-150deg)
}
.min_clock_number:nth-child(45) {
    transform: rotate(180deg) translate(160px) rotate(-180deg)
}
.min_clock_number:nth-child(50) {
    transform: rotate(210deg) translate(160px) rotate(-210deg)
}
.min_clock_number:nth-child(55) {
    transform: rotate(240deg) translate(160px) rotate(-240deg)
}
.min_clock_number:nth-child(60) {
    transform: rotate(270deg) translate(160px) rotate(-270deg)
}
